<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebBanSach</display-name>
  <welcome-file-list>
    <welcome-file>showIndex</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ShowLoginServlet</display-name>
    <servlet-name>ShowLoginServlet</servlet-name>
    <servlet-class>controller.ShowLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowLoginServlet</servlet-name>
    <url-pattern>/showLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckLoginServlet</display-name>
    <servlet-name>CheckLoginServlet</servlet-name>
    <servlet-class>controller.CheckLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckLoginServlet</servlet-name>
    <url-pattern>/checkLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowRegisterServlet</display-name>
    <servlet-name>ShowRegisterServlet</servlet-name>
    <servlet-class>controller.ShowRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowRegisterServlet</servlet-name>
    <url-pattern>/showRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowIndexServlet</display-name>
    <servlet-name>ShowIndexServlet</servlet-name>
    <servlet-class>controller.ShowIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowIndexServlet</servlet-name>
    <url-pattern>/showIndex</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowKhachHangServlet</display-name>
    <servlet-name>ShowKhachHangServlet</servlet-name>
    <servlet-class>controller.ShowKhachHangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowKhachHangServlet</servlet-name>
    <url-pattern>/showKhachHang</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowTheLoaiServlet</display-name>
    <servlet-name>ShowTheLoaiServlet</servlet-name>
    <servlet-class>controller.ShowTheLoaiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTheLoaiServlet</servlet-name>
    <url-pattern>/ShowTheLoaiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckRegisterServlet</display-name>
    <servlet-name>CheckRegisterServlet</servlet-name>
    <servlet-class>controller.CheckRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckRegisterServlet</servlet-name>
    <url-pattern>/checkRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowProductByLoaiServlet</display-name>
    <servlet-name>ShowProductByLoaiServlet</servlet-name>
    <servlet-class>controller.ShowProductByLoaiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProductByLoaiServlet</servlet-name>
    <url-pattern>/showProductByLoai</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowDetailProductServlet</display-name>
    <servlet-name>ShowDetailProductServlet</servlet-name>
    <servlet-class>controller.ShowDetailProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDetailProductServlet</servlet-name>
    <url-pattern>/showDetailProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowProductBySortServlet</display-name>
    <servlet-name>ShowProductBySortServlet</servlet-name>
    <servlet-class>controller.ShowProductBySortServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProductBySortServlet</servlet-name>
    <url-pattern>/ShowProductBySortServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateKhachHangServlet</display-name>
    <servlet-name>UpdateKhachHangServlet</servlet-name>
    <servlet-class>controller.UpdateKhachHangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateKhachHangServlet</servlet-name>
    <url-pattern>/updateKhachHang</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartServlet</display-name>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>controller.AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/addToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCartServlet</display-name>
    <servlet-name>ShowCartServlet</servlet-name>
    <servlet-class>controller.ShowCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCartServlet</servlet-name>
    <url-pattern>/showCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSanPhamFromGioHangServlet</display-name>
    <servlet-name>DeleteSanPhamFromGioHangServlet</servlet-name>
    <servlet-class>controller.DeleteSanPhamFromGioHangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSanPhamFromGioHangServlet</servlet-name>
    <url-pattern>/deleteSanPhamFromGioHang</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAddDiaChi</display-name>
    <servlet-name>ShowAddDiaChi</servlet-name>
    <servlet-class>controller.ShowAddDiaChi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAddDiaChi</servlet-name>
    <url-pattern>/showAddDiaChi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowOrderServlet</display-name>
    <servlet-name>ShowOrderServlet</servlet-name>
    <servlet-class>controller.ShowOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOrderServlet</servlet-name>
    <url-pattern>/showOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCartServlet</display-name>
    <servlet-name>UpdateCartServlet</servlet-name>
    <servlet-class>controller.UpdateCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCartServlet</servlet-name>
    <url-pattern>/updateCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderServlet</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>controller.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/order</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowIntroduceServlet</display-name>
    <servlet-name>ShowIntroduceServlet</servlet-name>
    <servlet-class>controller.ShowIntroduceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowIntroduceServlet</servlet-name>
    <url-pattern>/showIntroduce</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowMyDonHangServlet</display-name>
    <servlet-name>ShowMyDonHangServlet</servlet-name>
    <servlet-class>controller.ShowMyDonHangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMyDonHangServlet</servlet-name>
    <url-pattern>/showMyDonHang</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowDetailMyDonHangServlet</display-name>
    <servlet-name>ShowDetailMyDonHangServlet</servlet-name>
    <servlet-class>controller.ShowDetailMyDonHangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDetailMyDonHangServlet</servlet-name>
    <url-pattern>/showDetailMyDonHang</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchSanPhamServlet</display-name>
    <servlet-name>SearchSanPhamServlet</servlet-name>
    <servlet-class>controller.SearchSanPhamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchSanPhamServlet</servlet-name>
    <url-pattern>/searchSanPham</url-pattern>
  </servlet-mapping>
</web-app>