<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebBanSach</display-name>
  <welcome-file-list>
    <welcome-file>ShowIndex</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ShowLoginServlet</display-name>
    <servlet-name>ShowLoginServlet</servlet-name>
    <servlet-class>controller.ShowLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowLoginServlet</servlet-name>
    <url-pattern>/showLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckLoginServlet</display-name>
    <servlet-name>CheckLoginServlet</servlet-name>
    <servlet-class>controller.CheckLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckLoginServlet</servlet-name>
    <url-pattern>/checkLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowRegisterServlet</display-name>
    <servlet-name>ShowRegisterServlet</servlet-name>
    <servlet-class>controller.ShowRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowRegisterServlet</servlet-name>
    <url-pattern>/showRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowIndex</display-name>
    <servlet-name>ShowIndex</servlet-name>
    <servlet-class>controller.ShowIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowIndex</servlet-name>
    <url-pattern>/ShowIndex</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowKhachHangServlet</display-name>
    <servlet-name>ShowKhachHangServlet</servlet-name>
    <servlet-class>controller.ShowKhachHangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowKhachHangServlet</servlet-name>
    <url-pattern>/showKhachHang</url-pattern>
  </servlet-mapping>
</web-app>