<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebBanSach</display-name>
  <welcome-file-list>
    <welcome-file>showIndex</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ShowLoginServlet</display-name>
    <servlet-name>ShowLoginServlet</servlet-name>
    <servlet-class>controller.ShowLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowLoginServlet</servlet-name>
    <url-pattern>/showLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckLoginServlet</display-name>
    <servlet-name>CheckLoginServlet</servlet-name>
    <servlet-class>controller.CheckLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckLoginServlet</servlet-name>
    <url-pattern>/checkLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowRegisterServlet</display-name>
    <servlet-name>ShowRegisterServlet</servlet-name>
    <servlet-class>controller.ShowRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowRegisterServlet</servlet-name>
    <url-pattern>/showRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowIndexServlet</display-name>
    <servlet-name>ShowIndexServlet</servlet-name>
    <servlet-class>controller.ShowIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowIndexServlet</servlet-name>
    <url-pattern>/showIndex</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowKhachHangServlet</display-name>
    <servlet-name>ShowKhachHangServlet</servlet-name>
    <servlet-class>controller.ShowKhachHangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowKhachHangServlet</servlet-name>
    <url-pattern>/showKhachHang</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowTheLoaiServlet</display-name>
    <servlet-name>ShowTheLoaiServlet</servlet-name>
    <servlet-class>controller.ShowTheLoaiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTheLoaiServlet</servlet-name>
    <url-pattern>/ShowTheLoaiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckRegisterServlet</display-name>
    <servlet-name>CheckRegisterServlet</servlet-name>
    <servlet-class>controller.CheckRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckRegisterServlet</servlet-name>
    <url-pattern>/checkRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowProductByLoaiServlet</display-name>
    <servlet-name>ShowProductByLoaiServlet</servlet-name>
    <servlet-class>controller.ShowProductByLoaiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProductByLoaiServlet</servlet-name>
    <url-pattern>/showProductByLoai</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowDetailProductServlet</display-name>
    <servlet-name>ShowDetailProductServlet</servlet-name>
    <servlet-class>controller.ShowDetailProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDetailProductServlet</servlet-name>
    <url-pattern>/showDetailProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowProductBySortServlet</display-name>
    <servlet-name>ShowProductBySortServlet</servlet-name>
    <servlet-class>controller.ShowProductBySortServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProductBySortServlet</servlet-name>
    <url-pattern>/ShowProductBySortServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateKhachHangServlet</display-name>
    <servlet-name>UpdateKhachHangServlet</servlet-name>
    <servlet-class>controller.UpdateKhachHangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateKhachHangServlet</servlet-name>
    <url-pattern>/updateKhachHang</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartServlet</display-name>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>controller.AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/addToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCartServlet</display-name>
    <servlet-name>ShowCartServlet</servlet-name>
    <servlet-class>controller.ShowCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCartServlet</servlet-name>
    <url-pattern>/showCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAddDiaChi</display-name>
    <servlet-name>ShowAddDiaChi</servlet-name>
    <servlet-class>controller.ShowAddDiaChi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAddDiaChi</servlet-name>
    <url-pattern>/showAddDiaChi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowOrderServlet</display-name>
    <servlet-name>ShowOrderServlet</servlet-name>
    <servlet-class>controller.ShowOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOrderServlet</servlet-name>
    <url-pattern>/showOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCartServlet</display-name>
    <servlet-name>UpdateCartServlet</servlet-name>
    <servlet-class>controller.UpdateCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCartServlet</servlet-name>
    <url-pattern>/updateCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderServlet</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>controller.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/order</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowIntroduceServlet</display-name>
    <servlet-name>ShowIntroduceServlet</servlet-name>
    <servlet-class>controller.ShowIntroduceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowIntroduceServlet</servlet-name>
    <url-pattern>/showIntroduce</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowDonHangServlet</display-name>
    <servlet-name>ShowDonHangServlet</servlet-name>
    <servlet-class>controller.ShowDonHangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDonHangServlet</servlet-name>
    <url-pattern>/showDonHang</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowDetailDonHangServlet</display-name>
    <servlet-name>ShowDetailDonHangServlet</servlet-name>
    <servlet-class>controller.ShowDetailDonHangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDetailDonHangServlet</servlet-name>
    <url-pattern>/showDetailDonHang</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchSanPhamServlet</display-name>
    <servlet-name>SearchSanPhamServlet</servlet-name>
    <servlet-class>controller.SearchSanPhamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchSanPhamServlet</servlet-name>
    <url-pattern>/searchSanPham</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminShowLoginServlet</display-name>
    <servlet-name>AdminShowLoginServlet</servlet-name>
    <servlet-class>controller.admin.AdminShowLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowLoginServlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminCheckLoginServlet</display-name>
    <servlet-name>AdminCheckLoginServlet</servlet-name>
    <servlet-class>controller.admin.AdminCheckLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCheckLoginServlet</servlet-name>
    <url-pattern>/admin/checkLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminShowIndexServlet</display-name>
    <servlet-name>AdminShowIndexServlet</servlet-name>
    <servlet-class>controller.admin.AdminShowIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowIndexServlet</servlet-name>
    <url-pattern>/admin/trangchu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminShowKhachHangServlet</display-name>
    <servlet-name>AdminShowKhachHangServlet</servlet-name>
    <servlet-class>controller.admin.AdminShowKhachHangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowKhachHangServlet</servlet-name>
    <url-pattern>/admin/quanLyKhachHang</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminShowUpdatePasswordKhachHangServlet</display-name>
    <servlet-name>AdminShowUpdatePasswordKhachHangServlet</servlet-name>
    <servlet-class>controller.admin.AdminShowUpdatePasswordKhachHangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowUpdatePasswordKhachHangServlet</servlet-name>
    <url-pattern>/admin/quanLyKhachHang/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdatePasswordKhachHangServlet</display-name>
    <servlet-name>AdminUpdatePasswordKhachHangServlet</servlet-name>
    <servlet-class>controller.admin.AdminUpdatePasswordKhachHangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdatePasswordKhachHangServlet</servlet-name>
    <url-pattern>/admin/quanLyKhachHang/updated</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteKhachHangServlet</display-name>
    <servlet-name>AdminDeleteKhachHangServlet</servlet-name>
    <servlet-class>controller.admin.AdminDeleteKhachHangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteKhachHangServlet</servlet-name>
    <url-pattern>/admin/quanLyKhachHang/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminShowDanhMucServlet</display-name>
    <servlet-name>AdminShowDanhMucServlet</servlet-name>
    <servlet-class>controller.admin.AdminShowDanhMucServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowDanhMucServlet</servlet-name>
    <url-pattern>/admin/quanLyDanhMuc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdateDanhMucServlet</display-name>
    <servlet-name>AdminUpdateDanhMucServlet</servlet-name>
    <servlet-class>controller.admin.AdminUpdateDanhMucServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateDanhMucServlet</servlet-name>
    <url-pattern>/admin/quanLyDanhMuc/updated</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminShowUpdateDanhMucServlet</display-name>
    <servlet-name>AdminShowUpdateDanhMucServlet</servlet-name>
    <servlet-class>controller.admin.AdminShowUpdateDanhMucServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowUpdateDanhMucServlet</servlet-name>
    <url-pattern>/admin/quanLyDanhMuc/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteDanhMucServlet</display-name>
    <servlet-name>AdminDeleteDanhMucServlet</servlet-name>
    <servlet-class>controller.admin.AdminDeleteDanhMucServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteDanhMucServlet</servlet-name>
    <url-pattern>/admin/quanLyDanhMuc/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminShowAddDanhMucServlet</display-name>
    <servlet-name>AdminShowAddDanhMucServlet</servlet-name>
    <servlet-class>controller.admin.AdminShowAddDanhMucServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowAddDanhMucServlet</servlet-name>
    <url-pattern>/admin/quanLyDanhMuc/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddDanhMucServlet</display-name>
    <servlet-name>AdminAddDanhMucServlet</servlet-name>
    <servlet-class>controller.admin.AdminAddDanhMucServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddDanhMucServlet</servlet-name>
    <url-pattern>/admin/quanLyDanhMuc/added</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminShowTheLoaiServlet</display-name>
    <servlet-name>AdminShowTheLoaiServlet</servlet-name>
    <servlet-class>controller.admin.AdminShowTheLoaiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowTheLoaiServlet</servlet-name>
    <url-pattern>/admin/quanLyTheLoai</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminShowUpdateTheLoaiServlet</display-name>
    <servlet-name>AdminShowUpdateTheLoaiServlet</servlet-name>
    <servlet-class>controller.admin.AdminShowUpdateTheLoaiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowUpdateTheLoaiServlet</servlet-name>
    <url-pattern>/admin/quanLyTheLoai/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdateTheLoaiServlet</display-name>
    <servlet-name>AdminUpdateTheLoaiServlet</servlet-name>
    <servlet-class>controller.admin.AdminUpdateTheLoaiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateTheLoaiServlet</servlet-name>
    <url-pattern>/admin/quanLyTheLoai/updated</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteTheLoaiServlet</display-name>
    <servlet-name>AdminDeleteTheLoaiServlet</servlet-name>
    <servlet-class>controller.admin.AdminDeleteTheLoaiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteTheLoaiServlet</servlet-name>
    <url-pattern>/admin/quanLyTheLoai/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddTheLoaiServlet</display-name>
    <servlet-name>AdminAddTheLoaiServlet</servlet-name>
    <servlet-class>controller.admin.AdminAddTheLoaiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddTheLoaiServlet</servlet-name>
    <url-pattern>/admin/quanLyTheLoai/added</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminShowAddTheLoaiServlet</display-name>
    <servlet-name>AdminShowAddTheLoaiServlet</servlet-name>
    <servlet-class>controller.admin.AdminShowAddTheLoaiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowAddTheLoaiServlet</servlet-name>
    <url-pattern>/admin/quanLyTheLoai/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminShowSanPhamServlet</display-name>
    <servlet-name>AdminShowSanPhamServlet</servlet-name>
    <servlet-class>controller.admin.AdminShowSanPhamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowSanPhamServlet</servlet-name>
    <url-pattern>/admin/quanLySanPham</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminShowUpdateSanPhamServlet</display-name>
    <servlet-name>AdminShowUpdateSanPhamServlet</servlet-name>
    <servlet-class>controller.admin.AdminShowUpdateSanPhamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowUpdateSanPhamServlet</servlet-name>
    <url-pattern>/admin/quanLySanPham/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdateSanPhamServlet</display-name>
    <servlet-name>AdminUpdateSanPhamServlet</servlet-name>
    <servlet-class>controller.admin.AdminUpdateSanPhamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateSanPhamServlet</servlet-name>
    <url-pattern>/admin/quanLySanPham/updated</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteSanPhamServlet</display-name>
    <servlet-name>AdminDeleteSanPhamServlet</servlet-name>
    <servlet-class>controller.admin.AdminDeleteSanPhamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteSanPhamServlet</servlet-name>
    <url-pattern>/admin/quanLySanPham/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminShowAddSanPhamServet</display-name>
    <servlet-name>AdminShowAddSanPhamServet</servlet-name>
    <servlet-class>controller.admin.AdminShowAddSanPhamServet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowAddSanPhamServet</servlet-name>
    <url-pattern>/admin/quanLySanPham/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddSanPhamServlet</display-name>
    <servlet-name>AdminAddSanPhamServlet</servlet-name>
    <servlet-class>controller.admin.AdminAddSanPhamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddSanPhamServlet</servlet-name>
    <url-pattern>/admin/quanLySanPham/added</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminShowHoaDonServlet</display-name>
    <servlet-name>AdminShowHoaDonServlet</servlet-name>
    <servlet-class>controller.admin.AdminShowHoaDonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowHoaDonServlet</servlet-name>
    <url-pattern>/admin/quanLyHoaDon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDetailDonHangServlet</display-name>
    <servlet-name>AdminDetailDonHangServlet</servlet-name>
    <servlet-class>controller.admin.AdminDetailDonHangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDetailDonHangServlet</servlet-name>
    <url-pattern>/admin/quanLyHoaDon/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteDonHangServlet</display-name>
    <servlet-name>AdminDeleteDonHangServlet</servlet-name>
    <servlet-class>controller.admin.AdminDeleteDonHangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteDonHangServlet</servlet-name>
    <url-pattern>/admin/quanLyHoaDon/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminShowThongKeServlet</display-name>
    <servlet-name>AdminShowThongKeServlet</servlet-name>
    <servlet-class>controller.admin.AdminShowThongKeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowThongKeServlet</servlet-name>
    <url-pattern>/admin/thongKe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDoanhThuServlet</display-name>
    <servlet-name>AdminDoanhThuServlet</servlet-name>
    <servlet-class>controller.admin.AdminDoanhThuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDoanhThuServlet</servlet-name>
    <url-pattern>/admin/thongKe/doanhThu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminInfoServlet</display-name>
    <servlet-name>AdminInfoServlet</servlet-name>
    <servlet-class>controller.admin.AdminInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminInfoServlet</servlet-name>
    <url-pattern>/admin/showAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogoutServlet</display-name>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <servlet-class>controller.admin.AdminLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <url-pattern>/admin/logoutAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDonHangServlet</display-name>
    <servlet-name>UpdateDonHangServlet</servlet-name>
    <servlet-class>controller.UpdateDonHangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDonHangServlet</servlet-name>
    <url-pattern>/updateDonHang</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdateDonHangServlet</display-name>
    <servlet-name>AdminUpdateDonHangServlet</servlet-name>
    <servlet-class>controller.admin.AdminUpdateDonHangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateDonHangServlet</servlet-name>
    <url-pattern>/admin/quanLyHoaDon/updated</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowNewsServlet</display-name>
    <servlet-name>ShowNewsServlet</servlet-name>
    <servlet-class>controller.ShowNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowNewsServlet</servlet-name>
    <url-pattern>/showNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowDetailNewsServlet</display-name>
    <servlet-name>ShowDetailNewsServlet</servlet-name>
    <servlet-class>controller.ShowDetailNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDetailNewsServlet</servlet-name>
    <url-pattern>/showDetailNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowContactServlet</display-name>
    <servlet-name>ShowContactServlet</servlet-name>
    <servlet-class>controller.ShowContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowContactServlet</servlet-name>
    <url-pattern>/showContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactServlet</display-name>
    <servlet-name>ContactServlet</servlet-name>
    <servlet-class>controller.ContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactServlet</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminShowPhanHoiServlet</display-name>
    <servlet-name>AdminShowPhanHoiServlet</servlet-name>
    <servlet-class>controller.admin.AdminShowPhanHoiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowPhanHoiServlet</servlet-name>
    <url-pattern>/admin/phanHoi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeletePhanHoiServlet</display-name>
    <servlet-name>AdminDeletePhanHoiServlet</servlet-name>
    <servlet-class>controller.admin.AdminDeletePhanHoiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeletePhanHoiServlet</servlet-name>
    <url-pattern>/admin/phanHoi/delete</url-pattern>
  </servlet-mapping>
</web-app>