* {
	margin: 0;
	padding: 0;
	border: 0;
}

.main-block {
	width: 100%;
	height: auto;
}

.main-block .login-block {
	width: 620px;
	background-color: white;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 40px;
}

.main-block .login-block input[type="text"] {
	border: 2px solid black;
	display: block;
	width: 500px;
	height: 40px;
	padding-left: 20px;
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.main-block .login-block label {
	font-size: 18px;
}

.main-block input[type="submit"], 
.main-block input[type="button"],
.main-block input[type="reset"] { 
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
	background-color: #d95719;
	padding: 5px;
	border: 1px solid #FAC47C;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 5px;
}

.main-block input[type="submit"]:hover, 
.main-block input[type="button"]:hover,
.main-block input[type="reset"]:hover { 
	padding: 8px;
	transition: 0.5s;
}

.main-block .menu {
	display: flex;
	justify-content: space-around;
	background-color: #F0F0F0;
    padding: 10px;
}

.main-block .menu .menu-item {
    color: #ff8100;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
}

.main-block .menu a:hover, .main-block .danh-muc a:hover {
    text-decoration: none;
}

.main-block .khoi {
	width: 100%;
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}

.main-block .danh-muc {
    width: 20%;
}

.main-block .content {
	width: 75%;
	margin: auto;
}

.main-block .login-block input[type="text"],
.main-block .login-block select,
.main-block .login-block input[type="date"],
.main-block .login-block input[type="password"] {
	border: 2px solid #F0F0F0;
	display: block;
	width: 500px;
	height: 40px;
	padding-left: 20px;
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
}


.main-block input[type="text"],
.main-block input[type="file"],
.main-block input[type="password"],
.main-block select {
	border: 2px solid #F0F0F0;
	display: block;
	width: 500px;
	height: 40px;
	padding-left: 20px;
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
}

.main-block .content table {
	border: 3px solid #aba5a5;
	margin-top: 20px;
	width: 100%;
}

.main-block .content table tr {
	 padding: 10px;
	 height: auto; 
	 border-bottom: 3px solid #aba5a5;
}

.main-block .content table th, .main-block .content table td {
	 padding: 10px;
	 border-right: 3px solid #aba5a5;
}

.main-block .ngay {
	display: flex;
	flex-direction: row; 
}

.main-block .nhap select {
	width: 100px;
	margin-right: 30px;
}

.main-block .content .find {
	width: 100%;
    display: flex;
    justify-content: space-between;
}

.main-block .content .find .search-box {
	display: flex; 
    flex-direction: row;
    height: 100%;
}

.main-block .content .find .search-box input {
	width: 250px;
    height: 38px;
    border: 1px solid black;
    padding-left: 15px;
    font-size: 16px;
    margin: 0px;
}
