* {
	margin: 0;
	padding: 0;
	border: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.header {
	width: 100%;
	height: 120px;
	padding: 10px;
	background-color: #f3b535;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header .logo {
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	width: 280px;
}

.header .find {
	width: 600px;
}

.header .find .search-box input {
	width: 450px;
    height: 40px;
    border: 2px solid #d95719;
    border-radius: 5px 0px 0px 5px;
    float: left;
    padding-left: 15px;
    font-size: 18px;
}

.header .find .search-box button {
	width: 50px;
	height: 40px;
	font-size: 25px;
	background-color: #d95719;
	border-radius: 0px 5px 5px 0px;
	color: white;
}

.header div a {
	text-decoration: none;
	color: white;
}

.header .cart {
	width: 165px;
    height: 50px;
    margin-right: 20px;
    padding: 10px 0px 0px 10px;
    font-weight: bold;
    font-size: 20px;
}

.header .cart:hover {
	background-color: #F08121;
	transition: 1s;
}

.menu {
	width: 100%;
	height: auto;
    padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #d95719;
	color: white;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

.menu .menu-item {
	margin-right: 50px;
	padding: 3px 10px 0px 10px;
}

.menu .menu-item a {
	text-decoration: none;
	color: white;
}

.menu .dropdown-menu.show {
	background-color: white;
	width: 230px;
}

.menu .menu-item li a {
	text-decoration: none;
	color: black;
	text-transform: none;
}


.menu .dropdown-item:focus, .menu .dropdown-item:hover {
	color: black;
    text-decoration: none;
    background-color: #fffb82;
    padding: 5px 15px 5px 30px;
}

.menu .menu-item:hover {
	background-color: #f3b535;
	transition: 1s;
}

.dropright .dropdown-menu {
   margin-top: -21px;
}

.footer {
	width: 100%;
	height: auto;
	flex-wrap: wrap;
	background-color: #d95719;
	display: flex;
	justify-content: center;
}

.footer .khoi {
	width: 300px;
	margin: 30px;
	color: white;
}

.footer .khoi h4 {
	margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
}

.footer .khoi a {
	text-decoration: none;
	color: white;
}

.footer .khoi a:hover {
	margin-left: 5px;
	transition: 1s;
}

.main-block {
	width: 100%;
	min-height: 600px;
	background-color: #F0F0F0;
	padding-top: 30px;
	padding-bottom: 50px;
}

.main-block .content {
	width: 100%;
	margin: auto;
    padding: 0px 60px 0px 60px;
}

.main-block .danh-muc {
	width: 24%;
}

.main-block .banner {
	width: 75%;
}

.main-block .danh-muc .tieu-de {
	padding: 14px 14px;
	background-color: #d95719; 
	font-size: 19px;
	color: white;
}

.main-block .danh-muc .list-group-item {
	height: 72px;
    font-size: 18px;
    padding: 20px 0px 20px 15px;
}

.main-block .danh-muc a {
    font-size: 18px;
}

.main-block .danh-muc .dropdown-item {
	width: 280px;
}

.main-block .danh-muc div.dropdown-menu.show {
	padding: 10px;
	margin-left: -15px;
    margin-top: 24px;
}

.main-block .danh-muc-chinh div.dropdown-menu.show {
	padding: 10px;
	margin-left: 1px;
    margin-top: -23px;
}


.main-block .danh-muc .dropdown-item:focus, .main-block .danh-muc .dropdown-item:hover {
	color: black;
    text-decoration: none;
    background-color: #fffb82;
    padding: 5px 15px 5px 20px;
}

.main-block .danh-muc .list-group-item:hover {
	background-color: #fffb82;
	cursor: pointer;
}

img.d-block.w-100 {
    height: 335px;
}

.main-block .sach {
	border-radius: 5px;
	height: auto;
	background-color: white;
}

.main-block .sach .tieu-de {
	display: flex;
	align-items: center;
    padding: 10px;
    overflow: auto;
  	white-space: nowrap;
    border-bottom: 1px solid #F0F0F0;
}

.main-block .sach .tieu-de a {
	display: inline-block;
	margin-right: 20px;
	color: #d95719;
}

.main-block .sach .tieu-de a:hover {
	text-decoration: none;
	border-bottom: 2px solid #d95719;
}

.main-block .name {
	margin-right: 35px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px; 
    padding: 3px;
    background-color: #d95719;
    position: relative;
    text-align: center;
}

.main-block .tieu-de .label-name {
	display: inline-block;
    margin-left: 3px;
    vertical-align: middle;
    border-top: 20px solid transparent;
    border-left: 20px solid #d95719;
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: -2px;
}

.main-block .sach .san-pham {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 10px 0px 10px 0px;
}

.main-block .sach .card {
	width: 230px;
	height: 350px;
	border: 1px solid #F0F0F0;
	margin: 5px;
	color: black;
	text-decoration: none;
	font-size: 15px;
}

.main-block .content .card:hover {
	transform: scale(1.01);
	box-shadow: rgb(0 0 0 / 10%) 0px 0px 20px;
}

.main-block .sach .card .ten-sach {
    line-height: 19px;
}


.main-block .sach .card .gia-tien {
	color: #C92127;
}

.main-block .sach .card .da-ban {
	font-style: italic;
}

.main-block .sach .card .hinh-anh {
	width: 85%;
	height: 50%;
	margin: auto;
}

.main-block .sach .card .mo-ta {
	width: 90%;
	height: 140px;
	margin: auto;
	margin-top: 10px;
}

.main-block .danh-trang {
	margin-top: 10px;
}

.main-block .danh-trang ul.pagination {
    height: 60px;
}

.main-block .danh-trang li.page-item {
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 18px;
}

.main-block .login-block {
	width: min(80%, 580px);
	background-color: white;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 4px 20px 40px 40px;
}

.main-block input[type="text"],
.main-block select,
.main-block input[type="date"],
.main-block input[type="password"],
.main-block textarea {
	border: 2px solid #F0F0F0;
	display: block;
	width: min(500px, 100%);
	height: 40px;
	padding-left: 20px;
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
}

.main-block .content input[type="checkbox"] {
	margin-right: 10px;
}

.main-block .loc-item {
	display: block;
	padding: 10px;
	border-bottom: 5px solid #F5F5F5;
}

.main-block .login-block label {
	font-size: 18px;
}

.main-block .login-block .birthday {
	width: 500px;
    height: 65px;
	margin-bottom: 20px;
}

.main-block .login-block .birthday .nhap {
	float: left;
	width: 100px;
	margin-right: 10px;
}

.main-block input[type="submit"], 
.main-block input[type="button"],
.main-block input[type="reset"],
.main-block .content button { 
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
	background-color: #d95719;
	padding: 5px;
	border: 1px solid #FAC47C;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 5px;
	color: white;
}

.main-block input[type="submit"]:hover, 
.main-block input[type="button"]:hover,
.main-block input[type="reset"]:hover { 
	transform: scale(1.1);
}

.main-block .menu-update-kh {
	margin-left: 20px;
	padding-left: 50px;
	margin-top: 50px;
	width: 20%;
	line-height: 50px;
}

.main-block .update-kh {
	width: 60%;
	margin-left: 0px;
}

.main-block .menu-update-kh a {
	display: block;
}

.main-block .chi-tiet-sp {
	height: auto;
	background-color: white;
	display: flex;
	flex-direction: row;
}

.main-block .chi-tiet-sp .hinh-anh {
    width: 40%;
	background-color: white;
	border-right: 5px solid #F0F0F0;
	float: left;
}

.main-block .chi-tiet-sp .hinh-anh img {
    width: 80%;
    height: 80%;
    margin: auto;
    display: block;
	margin-top: 30px;
}

.main-block .chi-tiet-sp .noi-dung {
	width: 60%;
	padding: 30px;
	float: right;
}

.main-block .chi-tiet-sp .noi-dung div {
	margin-bottom: 20px;
}

.main-block .chi-tiet-sp .noi-dung .them {
	display: block;
    width: 180px;
    height: 50px;
    background-color: #ED8121;
    margin: auto;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 12px;
    font-weight: bold;
}

.main-block .mo-ta-sp {
	width: 90%;
	background-color: white;
	margin-top: 30px;
	padding: 30px;
}

.main-block .bang-sp {
	width: 80%;
    min-height: 240px;
    background-color: white;
    margin-right: 10px;
}

.main-block .bang-sp th, .main-block .bang-sp td {
	padding: 10px;
}

.main-block .bang-sp input.soLuong {
    width: 50px;
    height: 30px;
    padding: 5px;
    border: 1px solid #fac47c;
}

.main-block .thong-tin-thanh-toan {
	display: flex;
	flex-direction: row;
	padding-top: 30px;
}

.main-block .thong-tin-thanh-toan .thong-tin-van-chuyen {
	width: 70%;
	margin-right: 30px;
}

.main-block .thong-tin-thanh-toan .thong-tin-van-chuyen div, .main-block .thong-tin-thanh-toan .thong-tin-giao-hang div{
	padding: 10px;
	border: 1px solid #f0f0f0;
    border-radius: 10px;
    margin-bottom: 31px;
    line-height: 40px;
    padding: 30px;
}

.info-user {
	background-color: white;
	display: flex;
	flex-direction: row;
}

.main-block .gio-hang {
	display: flex;
	flex-direction: row;
}

.menu i {
  display: none;
}

.navbar-collapse {
	flex-grow: 0;
} 

@media screen and (max-width: 1000px) {
	.header {padding: 10px; height: auto;}
	.header .logo {display: none;}
	.header .find {margin-left: 60px;}
	.menu i {display: block;}
	.main-block .content {padding: 0px;}
	.main-block .danh-muc .list-group-item {max-height: 65px;}
}

@media screen and (max-width: 880px) {
  	.header #text-gio-hang {display: none;}
  	.header .cart {width: 60px;}
  	.main-block .danh-muc .tieu-de {display: none;}
  	.main-block .danh-muc {display: flex; flex-direction: row; width: 100%; height: auto; margin-bottom: 30px;}
	.main-block .khoi-banner-danh-muc {flex-direction: column;}
	.main-block .danh-muc .list-group-item {width: 100%;}
	.main-block .banner {width: 100%;}
	.footer .khoi {margin: 30px 10px;}
}

@media screen and (max-width: 750px) {
	.header .find {margin-left: 5px; max-width: 77%}
	.header .find form,  .header .find .search-box{max-width: 100%;}
	.header .find .search-box input {width: 80%;}
	.header .cart {width: 15%;}
	.main-block .danh-muc {flex-direction: column;}
	.main-block .content {padding: 0px;}
	.main-block .sach .card {width: 45%; height: 279px; font-size: 13px; margin: 0px; margin-bottom: 10px;}
	.banner img.d-block.w-100 {height: auto;}
	.main-block .name {font-size: 16px;}
	.main-block .login-block {padding: 0px; width: 100%;}
}

