* {
	margin: 0;
	padding: 0;
	border: 0;
}

.header {
	width: 100%;
	height: 120px;
	background-color: #E8B243;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header .logo {
	font-size: 35px;
	font-weight: bold;
	margin-right: 50px;
}

.header .find {
	width: 600px;
}

.header .find .search-box input {
	width: 500px;
	height: 40px;
	border: 2px solid black;
	float: left;
	padding-left: 15px;
	font-size: 18px;
}

.header .find .search-box button {
	width: 50px;
	height: 40px;
	font-size: 25px;
	background-color: #F08121;
	color: white;
}

.header div a {
	text-decoration: none;
	color: white;
}

.header .cart {
	width: 160px;
	height: 50px;
	margin-right: 20px;
	padding: 10px 10px 0px 10px;
	font-weight: bold;
	font-size: 20px;
}

.header .cart:hover {
	background-color: #F08121;
	transition: 1s;
}

.menu {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F08121;
	color: white;
	font-size: 20px;
	font-weight: bold;
}

.menu .menu-item {
	height: 35px;
	margin-right: 50px;
	padding: 3px 10px 0px 10px;
}

.menu div a {
	text-decoration: none;
	color: white;
}

.menu .dropdown-menu {
	background-color: white;
	color: black;
}

.menu li a {
	color: black;
}

.menu .menu-item:hover {
	background-color: #E8B243;
	transition: 1s;
}

.footer {
	width: 100%;
	height: 300px;
	background-color: #F08121;
	display: flex;
	justify-content: center;
}

.footer .khoi {
	width: 300px;
	margin: 30px;
	color: white;
}

.footer .khoi h4 {
	margin-bottom: 30px;
}

.footer .khoi a {
	text-decoration: none;
	color: white;
}

.footer .khoi a:hover {
	margin-left: 5px;
	transition: 1s;
}

.main-block {
	width: 100%;
	height: auto;
	background-color: #F0F0F0;
	padding-top: 30px;
	padding-bottom: 50px;
}

.main-block .content {
	width: 1200px;
	margin: auto;
}

.main-block .danh-muc {
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.main-block .danh-muc .tieu-de {
	width: 20%;
	padding: 10px;
	text-align: center;
	background-color: #FAC47C; 
	margin-right: 10px;
}

.main-block .danh-muc .ten-danh-muc {
	margin-right: 20px;
	font-size: 20px;
	cursor: pointer;
	padding: 8px;
	margin-top: -9px;
}

.main-block .danh-muc .ten-danh-muc:hover {
	background-color: #FCDAB0;
}

.main-block .sach {
	height: 1250px;
	background-color: white;
}

.main-block .sach .tieu-de {
	display: flex;
	align-items: ceter;
	height: 40px;
    padding-left: 20px;
    padding-top: 10px;
    border: 1px solid #F0F0F0;
}

.main-block .sach .tieu-de a {
	display: block;
	margin-right: 20px;
	color: #F26F00;
}

.main-block .sach .tieu-de a:hover {
	text-decoration: none;
	display: block;
	border-bottom: 2px solid #F08121;
}

.main-block .sach .san-pham {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.main-block .sach .card {
	width: 240px;
	height: 350px;
	border: 1px solid #F0F0F0;
	margin: 15px;
	color: black;
	text-decoration: none;
	font-size: 15px;
}

.main-block .sach .card .hinh-anh {
	width: 80%;
	height: 200px;
	margin: auto;
}

.main-block .sach .card .mo-ta {
	width: 90%;
	height: 140px;
	margin: auto;
	margin-top: 10px;
}

.main-block .danh-trang {
	width: 150px;
	float: right;
	margin-top: 10px;
}

.main-block .danh-trang a {
	display: block;
	margin-right: 10px;
	float: left;
}

/* ksksksk */

.main-block .login-block {
	width: 600px;
	background-color: white;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 40px;
}

.main-block .login-block input[type="text"],
.main-block .login-block select {
	border: 2px solid black;
	display: block;
	width: 500px;
	height: 40px;
	padding-left: 20px;
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.main-block .login-block label {
	font-size: 18px;
}

.main-block .login-block .birthday {
	width: 500px;
	height: 40px;
	padding-left: 20px;
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.main-block .login-block .birthday .nhap {
	float: left;
	width: 100px;
	margin-right: 10px;
}

.main-block .login-block input[type="submit"], 
.main-block .login-block input[type="button"],
.main-block .login-block input[type="reset"] { 
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
	background-color: #FAC47C;
	margin-left: 100px;
	padding: 5px;
	border: 1px solid #FAC47C;
	margin-top: 30px;
	margin-bottom: 30px;
}

.main-block .menu-update-kh {
	margin: auto;
}

.main-block .menu-update-kh a {
	display: inline-block;
	margin-left: 20px;
}

.main-block .chi-tiet-sp {
	width: 1200px;
	height: 650px;
	background-color: white;
	display: flex;
	flex-direction: row;
}

.main-block .chi-tiet-sp .hinh-anh {
    width: 450px;
    height: 100%;
	background-color: white;
	border: 1px solid #F0F0F0;
	float: left;
}

.main-block .chi-tiet-sp .hinh-anh img {
	width: 300px;
	height: 450px;
	margin: 75px;
}

.main-block .chi-tiet-sp .noi-dung {
	width: 750px;
	height: 100%;
	padding: 30px;
	float: right;
	border: 1px solid #F0F0F0;
}

.main-block .chi-tiet-sp .noi-dung div {
	margin-bottom: 20px;
}

.main-block .chi-tiet-sp .noi-dung .them {
	display: block;
    width: 180px;
    height: 50px;
    background-color: #ED8121;
    margin: auto;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 12px;
    font-weight: bold;
}

.main-block .mo-ta-sp {
	width: 900px;
	background-color: white;
	margin-top: 30px;
	padding: 30px;
}







