* {
	margin: 0;
	padding: 0;
	border: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.main-block {
	width: 100%;
	height: auto;
}

.main-block .login-block {
	width: 620px;
	background-color: white;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 40px;
}

.main-block .login-block input[type="text"] {
	border: 2px solid black;
	display: block;
	width: 500px;
	height: 40px;
	padding-left: 20px;
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.main-block .login-block label {
	font-size: 18px;
}

.main-block input[type="submit"], 
.main-block input[type="button"],
.main-block input[type="reset"] { 
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
	background-color: #dc3545;
	padding: 5px;
	border: 1px solid #dc3545;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: 20px;
	border-radius: 5px;
	color: white;
}

.main-block input[type="submit"]:hover, 
.main-block input[type="button"]:hover,
.main-block input[type="reset"]:hover { 
	transform: scale(1.1);
}

.main-block .menu {
	display: flex;
	justify-content: space-around;
	background-color: #545b62;
    padding: 10px;
   	height: 70px;
}

.main-block .content .noi-dung {
	padding: 30px;
}

.main-block .menu .menu-item {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    margin: auto;
}

.main-block .menu a {
    padding: 7px;
    color: white;
    text-decoration: none;
}

.main-block .menu .menu-item:hover, .main-block .danh-muc a:hover {
   	text-decoration: none;
    background-color: #ffc107;
    transform: scale(1.05);
}

.main-block .khoi {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.main-block .khoi .muc-quan-ly {
	width: 100%;
	height: 70px;
	padding: 20px 0px 10px 10px;
    background-color: #545b62;
	color: white;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
}
.main-block .danh-muc {
    width: 17%;   
    height: 800px;
    background-color: #ebeaea;
}

.main-block .danh-muc .list-group-item {
    width: 100%;   
    border: none;
    background-color: #ebeaea;
    font-size: 18px;
}

.main-block .content {
	width: 83%;
}

.main-block .login-block input[type="text"],
.main-block .login-block select,
.main-block .login-block input[type="date"],
.main-block .login-block input[type="password"] {
	border: 2px solid #F0F0F0;
	display: block;
	width: 500px;
	height: 40px;
	padding-left: 20px;
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
}


.main-block input[type="text"],
.main-block input[type="file"],
.main-block input[type="password"],
.main-block select,
.main-block textarea {
	border: 2px solid #F0F0F0;
	display: block;
	width: 500px;
	height: 40px;
	padding-left: 20px;
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
}

.main-block .content table {
	border: 3px solid #aba5a5;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
}

.main-block .content table tr {
	 padding: 10px;
	 height: auto; 
	 border-bottom: 3px solid #aba5a5;
}

.main-block .content table th, .main-block .content table td {
	 padding: 10px;
	 border-right: 3px solid #aba5a5;
}

.main-block .ngay {
	display: flex;
	flex-direction: row; 
}

.main-block .nhap select {
	width: 100px;
	margin-right: 30px;
}

.main-block .content .find {
	width: 100%;
    display: flex;
    justify-content: space-between;
}

.main-block .content .find .search-box {
	display: flex; 
    flex-direction: row;
    height: 100%;
}

.main-block .content .find .search-box input {
	width: 250px;
    height: 38px;
    padding-left: 15px;
    margin: 0px;
}

.main-block .content .sap-xep {
	display: flex;
	flex-direction: row;
	justify-content: end;
}

.main-block .content .sap-xep button {
	height: 38px;
	margin-top: 21px;
}

.main-block .menu a.dropdown-item {
	color: #009df7;
}

